table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100px;
  background-color: rgb(236, 254, 255); 

}

td, th {
  border: 1px solid rgb(236, 254, 255);
  text-align: center;
  padding: 8px;
}

tr {
    font-size: 40px;
}

.TOMBOL {
    font-size: 40px;
    height: 80px;
    width: 80px;
}
.MANTAP {
  font-size: 40px;
  height: 80px;
  width: 385px;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(255, 255, 255); 
}
